@charset "UTF-8";

@media screen and (orientation:landscape) and (max-width: 900px){
    section#login{
        margin-top: 35px;
    }
    div#icon>img{
        width: 25px;
    }
    div#icon{
        padding: 10px;
        width: 45px;
        height: 45px;
    }
}
@media screen and (orientation:portrait) and (max-width: 900px){
    div#icon>img{
        width: 31px;
    }
    div#icon{
        padding:9px;
        width: 50px;
        height: 50px;
    }
}