@charset "UTF-8";

/* Media para dispotivos moveis em modo paisaigem */
@media screen and (orientation:landscape) and (max-width: 900px){
    section#login{
        margin-top: 85px;
    }
    div#icon>img{
        width: 25px;
    }
    div#icon{
        padding: 10px;
        width: 45px;
        height: 45px;
    }
    section#login>h1{
        margin-bottom: 15px
    }
}
