@charset "UTF-8";

/* MOBILE FIRST */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Inconsolata:wght@200..900&display=swap');

:root{
    --fonte1: 'Inconsolata', monospace;
    --cor1:#003980;
    --cor2:#70A9F0;
    --cor3:#B8D8FF;

}

*{
    font-family: var(--fonte1);
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, var(--cor3), var(--cor2), var(--cor1));
    overflow-x: hidden;
    overflow-y: auto;   
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
main{
    position: relative;
    height: 100vh;
    width:100vw;
    background-image: url(../imagens/fundo-site2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    
}
section#login{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
    margin-top: 130px;
    
}
section#login>h1{

    font-size: 33px;
    font-weight: 210;
    letter-spacing: 3.5px;
    width: 500px;
    margin: auto;
    margin-bottom: 22px;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.137);
}
div#icon>img{
   width: 45px;
}
div#icon{
    background-color: #003980;
    border-radius: 50%;
    text-align: center;
    margin: auto ;
    padding: 12px;
    width: 75px;
    height: 75px;
    margin-bottom:4px ;
}
div#formulario input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.80px;
    letter-spacing: 0.8px;
    color: rgb(255, 255, 255);
    padding: 30px;
    display: block;   
    position: relative;
    right: 13.20%;
    opacity: 0.7;
    
}
div#formulario{
    margin-left: 37px;
    width: 620px;
}
span.material-symbols-outlined {
    font-size: 16px;
    position: absolute;
    left:26.49%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
div.campo{
    position: relative;
    padding: 10px;
    text-align: center;
    margin-right: 38px;
}
div.campo label{
    display: none;
}
div.campo input{
    background: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 10px 10px 8px 40px;;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 273px  ; 
}
div.campo input:focus{
    outline: none;
}
div.campo input[type="email"]:-webkit-autofill {
    border: none;
    box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px #003980 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
div.campo input[type="password"]:-webkit-autofill {
    border: none;
    box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px #003980 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

div#checkbox{
    position: absolute;
    left: 29.40%;
    margin-top: 18px;

}
div#checkbox>input[type=checkbox]{
    position: absolute;
    top: 29%;
    accent-color:var(--cor1);
    cursor: pointer;
}
div#checkbox >label#write-check{
    font-size: 11.45px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 23px;
    cursor: pointer;
    
}
div#checkbox >a#write-link{
    text-decoration: none;
    font-size: 11.45px;
    font-style: italic;
    padding-left: 71px;
}
div#checkbox >a#write-link:hover{
    text-decoration: underline;
}
div#login{
    margin-top: 65px;
    margin-right: 35px;
    text-align: center;
    border: none;
    background-color: transparent;
    
}
div#login > input[type=submit]{
    width: 279px;
    height: 45px;
    background-color:#003a80a2 ;
    border: none;
    font-family: var(--fonte1);
    cursor: pointer;
    transition-duration: 0.3s;
}

div#login > input[type=submit]:hover{
    background-image: radial-gradient(circle at top, var(--cor1), var(--cor2));
    transition-duration: 0.3s;
    transform: scale(1.08);
}
